In [66]:
# 1. write a code to  reverse a string.
s = 'Shantanu'
# reverse string 
s[::-1]

In [64]:
# 2. write a code to count the number of vowels in a string.

# create a function:
def vcount(s):
    l = [ 'a' , 'e' , 'i' , 'o' , 'u']
    lower_case = s.lower()
    str_list =list(lower_case)
    sum = 0
    for i in str_list:
        if i in l :
            sum = sum + 1
    return sum            

# count the number of vowel
vcount(s)

In [74]:
# 3. write a code to check if a given string is a palindrome or not.

# create a function to check the palindrome number:
def palindrome(s):
    s1 = s[::-1]
    if s1 == s:
        print('this is a palindrome ')
    else :
        print('this is not palindrome')

# check  the condition:
str = 'Shantanu'
str1 = 'level'
palindrome(str)
palindrome(str1)

this is not palindrome
this is a palindrome

In [86]:
# 4. write a code to check if two given strings are anagrams of each other.

# create a function:
def anagram(s1 , s2):
    a=s1.lower()
    b=s2.lower()
    for i in a:
      if i in list (b):
         continue
      else:
          print('these two words are not anagram')
    print('these two words are anagram')    

a = 'listen'
b = 'silent'

anagram(a , b)

these two words are anagram

In [3]:
# 5. Write a code to find all occurances of a given substring within another string.

# this is the string
s= '''kolkata is city of joy. In the city you can see variety of religion.
      Thus , you can find variety of foods in the city. The city is full of flavours .
      So, I cordially invite you to visit our city specially during durga puja time'''

# find the occurance of substring 'city' in the string.
s.count('city')

5

In [118]:
# 6. Write a code to perform basic string compression using the counts of 
#    repeated characters.

# string:
s = 'aaabbbcccddeeffffggh'

# define the function:
def compress_string(s):
    if not s:
        return ""
    compressed = []
    count = 1
    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed.append(s[i - 1] + str(count))
            count = 1
    compressed.append(s[-1] + str(count))
    return ''.join(compressed)

# call the function:
compress_string(s)

'a3b3c3d2e2f4g2h1'

In [135]:
# 7. write a code to determine if a string has all unique characters.

# this is the string
str = 'abcde'

# function:
def unique_str(s):
    # Convert the string to a set to remove duplicates
    return len(set(s)) == len(s)

# condition:
if unique_str(str):
    print("All characters are unique.")
else:
    print("Not all characters are unique.")

All characters are unique.

In [29]:
# 8. Write a code to convert a given string to uppercase or lowercase.

# lowercase.
s= 'ShAnTAnu'
s.lower()

# uppercase
s.upper()

'SHANTANU'

In [51]:
# 9. Write a code to count the number of words in a string.

# create a function
def word_count(s):
    n = len(s.split(' '))
    return n

# count the words
str = 'hi I am Shantanu'
word_count(str)

In [53]:
# 10. write a code to concatinate two strings without using + operator.

s1 = 'hello Raj'
s2 = 'welcome to kolkata'

# concatination using f-string:
s3 = f'{s1}{s2}'

'hello Rajwelcome to kolkata'

In [56]:
# 11. write a code to remove all occurances of a specific element from a list.

# list
l = [1,1,2,2,3 ,5,6,7,8,10,23,4,5,7,8,2,2,2,2]

# create  a function
def remove_element(list , element):
   return [i for i in list if i != element]
              
# remove element:
remove_element(l ,2)

[1, 1, 3, 5, 6, 7, 8, 10, 23, 4, 5, 7, 8]

In [63]:
# 12. Implement a code to find the second largest largest number in a given list of integers.


l=[1,2,4,5,200,101,5,7,90,201,99]

# create a function:
def second_highest(l):
   l.sort()
   return l[-2]

# call the function:
second_highest(l)

200

In [83]:
# 13. Create a code to count the occurances of each  element in a list and return a dictionary
#     keys and their counts as values.

l = [1,2,3,4,5,6,7,7,7,7]


# define the function:
def element_count(l):
   counts = {}
   for i in l:
      if i in counts:
        counts[i] += 1
      else:
        counts[i] = 1
   return counts

element_count(l)

{1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 4}

In [11]:
# 14. Write a code to reverse a list in place without using any built-in reverse functions.
l = [2,5,6,3,7,89,95,45,32,30]

# define the function:
def reverse_list(list):
    l1 = l[::-1]
    return l1
    
# call the function:  
reverse_list(l)

[30, 32, 45, 95, 89, 7, 3, 6, 5, 2]

In [29]:
# 15. Implement a code to find and reomove duplicates from a list while preserving the 
#     original order of elements.

l = [1,1,2,2,3,3,3,5,5,5,4,4,4]

# derive the function:
def remove_duplicate(l):
   l1 = []
   for i in l:
      if i not in l1:
        l1.append(i)
   return l1

# call the function:
remove_duplicate(l)

[1, 2, 3, 5, 4]

In [47]:
# 16. Create a code to check if a given list is sorted(either in ascending or descending order) or not.

l=[1,2,4,5,200,101,5,7,90,201,99]

# deep  copy of the list:
l1 = l.copy()
l2 = l.copy()

# sort the copy list ascending and decending order:
l1.sort()
l2.sort(reverse = True)

# check  if the original list is sorted or not:
if (l == l1) & (l ==l2):
    print('the list is sorted')
else:
    print('the list is not sorted')

the list is not sorted

In [91]:
# 17. Write a to merge two two sorted lists into a single sorted list.

l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]

# merge two list in two ways:

# 1.  extend : (it will modify the list)
l1.extend(l2)
l1

# 2. concatination:  (as if l1 is already modified)
l1+l2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10]

In [54]:
#  18. Implement a code to find the intersection of two given lists.

#lists:
l1 = [1,2,3,4,5]
l2 = [3,4,6,9,10]

# intersection:
# derive the function:
def intersection(l1,l2):
    l3 = []
    for i in l1:
      if i in l2:
        l3.append(i)
    return l3

# call the function:
intersection(l1,l2)

[3, 4]

In [126]:
# 19. Create a code to find the union of two lists without duplicates.

#lists:
l1 = [1,2,3,4,5]
l2 = [3,4,6,9,10]

# union:
# derive the function:
def union(l1,l2):
    l3 = l1 + l2
    return list(set(l3))   
    

# call the function:
union(l1,l2)

[1, 2, 3, 4, 5, 6, 9, 10]

In [116]:
# 20. Write a code to shuffle a given list randomly without using only built-in suffle functions.

l = [10, 20, 31, 43, 25, 46, 69, 13]

# define the function:
import random
def shuffle_list(lst):
    n = len(lst)
    for i in range(n-1, 0, -1):
        j = random.randint(0, i)
        lst[i], lst[j] = lst[j], lst[i]
    return lst

# call the function:
shuffle_list(l)

[46, 43, 20, 13, 31, 25, 69, 10]

In [114]:
# 21. write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples. 

t1 = (1,2,4,5,7,7)
t2 = (1,2,3,10,11,12)

set(t1)

# Define the function:
def intersection(tuple1 , tuple2):
    return tuple(set(t1) & set(t2))

# call the function:
intersection(t1,t2)

(1, 2)

In [122]:
# 22. Create a code that prompts the user to enter two sets of integers seperated by commas.
#     Then, print the intersection of two sets.

s1 = {1,2,4,5,6}
s2 = {2,3,4,5,7,8}

# Define the function:
def intersection(set1 , set2):
    return set1 & set2

# call the function:
intersection(s1,s2)

{2, 4, 5}

In [132]:
# 23. Write a code to concatinate two tuples.The function should take two tuples as input and return a new
#     tuple containing elements from both input tuples.

# two tuples:
s1 = (1,2,4,5,6)
s2 = (7,8,9,6,10,11)

# tuple concatination:
s1 + s2

(1, 2, 4, 5, 6, 7, 8, 9, 6, 10, 11)

In [146]:
# 24. Develop a code that prompts the user to input two sets of strings.Then, 
#     print the elements that are present in the first set but not in the second set.

# two set of strings
s1 = { 'sourav' , 'sachin' , 'rahul' , 'zaheer' , 'yuvraj' , 'kohli' , 'rohit'  }
s2 = {'yuvraj' , 'kohli' , 'rohit'}

# define the function:
def first_set_only(s1 , s2):
  s3 = s1- s2
  return s3

# call the function:
first_set_only(s1 , s2)

{'rahul', 'sachin', 'sourav', 'zaheer'}

In [150]:
# 25. Create a code that takes a tuple and two integer as a input. The function should return a new tuple containing 
#     elements from the original tuple within the specified range of indices.

# input tuple
t = (10,20,3,34,52,63,7,82,91)

# define the function:
def tuple_slicing(tuple , start , end):
       return tuple[start : end+1]

# call the function:
tuple_slicing(t , 2 , 7)

(3, 34, 52, 63, 7, 82)

In [152]:
# 26. Write a code that prompts the user to input two sets of character.Then, print the union of these two sets.

# two set of strings
s1 = { 'sourav' , 'sachin' , 'rahul' , 'zaheer' , 'yuvraj' , 'kohli' , 'rohit' }
s2 = {'yuvraj' , 'kohli' , 'rohit' , 'raina' , 'bumra'}

# define the function:
def union_set(set1 , set2):
    return s1 | s2

#call the function:
union_set(s1,s2)

{'bumra',
 'kohli',
 'rahul',
 'raina',
 'rohit',
 'sachin',
 'sourav',
 'yuvraj',
 'zaheer'}

In [172]:
# 27. Develop a code that  takes a tuple of integers as a input.The function should return
#     the count of occurances of the given element in the tuple.

t= (1,2,54,1,34,1,6,7,8,1,1,1,3,6)

# define the function:
def all_element_count(tuple):
   counts = {}
   for i in tuple:
      if i in counts:
        counts[i] += 1
      else:
        counts[i] = 1
   return counts

# call the function:
all_element_count(t)

{1: 6, 2: 1, 54: 1, 34: 1, 6: 2, 7: 1, 8: 1, 3: 1}

In [160]:
# 28. Create a code that defines two sets of integers.Then, print the union,intersection,
#     and difference of these two sets.

s1 = {1,5,55,47,28,87}
s2 = {1,2,6,4,55,45,28,87}


# define the function:
def set_operations(set1 , set2 ):
    print('this is the union' , set1 | set2 )
    print('this is the intersection', set1 & set2)
    print('this is the difference', set1 -set2)

# call the function:
set_operations(s1 , s2)

this is the union {1, 2, 4, 5, 6, 45, 47, 87, 55, 28}
this is the intersection {1, 28, 87, 55}
this is the difference {5, 47}

In [ ]:
# 29. Write a code that takes a tuple and a element as input. The function should return
#     the count of occurance of a given element in the tuple.

# tuple:
t= (1,2,54,1,34,1,6,7,8,1,1,1,3,6)

# define the function:
def tuple_element_count(tuple , element):
        return tuple.count(1)

# call the function:
tuple_element_count(t , 1)

In [174]:
# 30. Develop a code that prompts the user to input two set of strings.Then, print the symmetric difference of
#     these two sets.

# set of strings:
s1={'hiking','reading','coding'}
s2={'coding','photography','tavelling'}

# define the function:
def symmetric_diff(s1 , s2):
    return s1 ^ s2

# call the function:
symmetric_diff(s1 , s2)

{'hiking', 'photography', 'reading', 'tavelling'}

In [11]:
# 31. write a code that takes a list of two words as input and returns a dictionary where the keys 
#     are unique words and the values are the frequencies of those words in the input list.

# list of words:
ODI_HUNDERD = ['VIRAT' , 'ROHIT' , 'VIRAT' , 'PANT' , 'VIRAT' , 'ROHIT']

# drfine the function:
def word_dictionary(word_list):
    freq_dict = {}
    for word in word_list:
        if word in freq_dict:
            freq_dict[word] += 1
        else:
            freq_dict[word] = 1
    
    return freq_dict

# call  the function:
word_dictionary(ODI_HUNDERD)

{'VIRAT': 3, 'ROHIT': 2, 'PANT': 1}

In [31]:
# 32. write a code that takes two dictionaries as input and merge them into a single dictionary.
#     If there are common keys, the values should be added togather.

# two dictionay:
ROHIT = {'name': 'rohit' , 'hundred' : 25 , 'matches' : 97 ,  'age' : 35  }
VIRAT = {'name': 'virat' , 'hundred' : 32 , 'fifty' : 40 ,  'matches' : 107 ,  'age' : 33}


# define the function:
def combine_dict(d1 , d2):
    d3 = {}
    for key in d2:
       if key in d1:
           d3[key] = d1[key] , d2[key]
       else:
            d3[key] = d2[key]

    for key in d2:
        if key not in d3:
            d3[key] = d1[key]
            
    return d3

# call the function:
combine_dict(ROHIT , VIRAT)

{'name': ('rohit', 'virat'),
 'hundred': (25, 32),
 'fifty': 40,
 'matches': (97, 107),
 'age': (35, 33)}

In [53]:
#  33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of 
#      keys as input and return the corresponding value. If any of the keys do not exist in the dictionary the
#      function should return None.

VIRAT = {'name': 'virat' , 'hundred' : 32 , 'fifty' : 40 ,  'matches' : 107 ,  'age' : 33  ,
         'rank' : {'odi_rank': 2  ,'t20_rank' : 1 ,'test_rank' : 3 }  , }

key = ['rank']

def get_nested_value(dictionary, keys):
    current_dict = dictionary
    for key in keys:
        if key in current_dict:  
            current_dict = current_dict[key]  
        else:
            return None 
    return current_dict


get_nested_value( VIRAT,key)

{'odi_rank': 2, 't20_rank': 1, 'test_rank': 3}

In [67]:
# 34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
#    can choose whether to sort in ascending or descending order.

d = {'a': 10, 'b': 5, 'c': 20, 'd': 15}

# define the function for ascendi
def sort_dict(d, bool):         # as bool = True for decending and False for ascending
    return dict(sorted(d.items(), key = lambda x: x[1], reverse = bool))


# call the function:
sort_dict_by_value(d ,False)

{'b': 5, 'a': 10, 'd': 15, 'c': 20}

In [74]:
# 35. Write a code that inverts a dictionary , swapping keys and values. Ensure that the inverted dictionary
#     correctly handles cases where multiple keys have the same value by storing the keys as a list in the
#    inverted dictionary.

# dictionary:
dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3}

# define the function:
def invert_dict(d):
    inverted_dict = {}
    
    for key, value in d.items():
        if value in inverted_dict:
            inverted_dict[value].append(key)  # Append the key to the list if the value already exists
        else:
            inverted_dict[value] = [key]  # Create a new list for this value
    
    return inverted_dict

# call the function:
invert_dict(sample_dict)

{1: ['a', 'c'], 2: ['b'], 3: ['d']}